@mixin myboxshadow{
	box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 6px 20px 0 rgba(0, 0, 0, 0.05);
}

$blue: rgba(220, 245, 255, 1);
$purple: rgba(128, 0, 128, 1);

$darkerblue: rgba(200, 225, 235, 1);
$darkerpurple: rgba(100, 0, 100, 1);

$darkestpurple: rgba(75, 0, 75, 1);

$lighterpurple: rgba(140, 0, 140, 1);

body{
	position: absolute;
	margin: 0px;
	
	width: 100%;
	height: 100%;
	
	font-family: "Open Sans", Verdana, Sans Serif;

}


#splash{
	position: relative;
	
	width: 100%;
	height: 100%;
}

#projects{
	position: relative;
	
	width: 100%;
	
//	margin-top: 5%;
	padding: 50px 0;

//	@include myboxshadow;
	
	background-color: white;
}















.region_color1{
	fill: $purple;
}

.region_color2{
	fill: $blue;
}

.splash_text{
	font-size: 55vh;
	font-family: 'Six Caps';
	
	stroke: $blue;
	stroke-width: 1px;
	stroke-linecap:butt;
	stroke-opacity:1;
	
	pointer-events: none;
}

.splash_text-down{
//	transform-origin: 50% 50%;
//	transform: rotate(7deg) translate(100px, -100px);
	
	stroke: $blue;
	stroke-width: 3px;
	stroke-linecap:butt;
	stroke-opacity:1;
}

.linkicon{

	cursor: pointer;
}

@media (max-aspect-ratio: 1/1) {
	.splash_text{
		font-size: 55vw;
	}
	
	.splash_text-down{
		stroke-width: 0px;
	}
	
	/*
	.linkicon{
		width: 5vh;
		height: 5vh;
		
		cursor: pointer;
		y: 44vh;
	}

	#githubicon{
		x: 90vw;
	}

	#linkedinicon{
		x: 95vw;
	}*/
}











#buffer{
	position: relative;
	width: 100%;

	min-height: 130px;
	
	padding-top: 20px;
	padding-bottom: 50px;
	
	display: block;
	justify-content: center;
	
	background-color: $darkerpurple;
	
	z-index: 1;
}

#controls-title{
	margin: 10px 0;

	text-align: center;
	color: $blue;
}

#controls{
	position: relative;
	display: flex;
	height: 100%;
	
	justify-content: center;
	align-items: center;
	
	user-select: none;
}

.controls-button{
	display: flex;
	
	margin: 1vw 2vw 1vw 1vw;
}

.controls-icons{
	padding: 10px;

	color: $darkerblue;
	background-color: $purple;
	cursor: pointer;
}

.controls-icons:hover{
	color: $blue;
	background-color: $lighterpurple;
}











#buffer2{
	position: relative;
	width: 100%;
	height: 15%;
	
	background-color: $darkestpurple;
}

#buffer3{
	position: relative;
	width: 100%;

	min-height: 130px;
	
	display: flex;
	justify-content: center;
	
	background-color: $darkerpurple;
	
	z-index: 1;
}

#buffer3-text{

	margin: 30vh 0;

	text-align: center;

	font-size: 3vw;
	font-family: "Raleway";
	color: $blue;
}

@media (max-aspect-ratio: 1/1) {
	#buffer3-text{
		font-size: 4vh;
	}
}

#buffer4{
	@extend #buffer2;
	
	@include myboxshadow;
	z-index: 1;
}










#mobilenote{

	display: none;

	width: 100%;
	
	margin: 10vh 0;
	
	font-size: 3vh;
	
	text-align: center;
}

#mobilenote-head{

	padding: 1vh;
	font-weight: bold;
	
	background-color: orange;
}

#mobilenote-body{
	padding: 1vh;
	
	background-color: yellow;
}















#main-links{
	position: absolute;
	bottom: 20px;
	right: 50px;
	
	pointer-events: auto;
	
	opacity: 0.8;
}

#main-links > a{	
	display: inline-block;
	margin-left: 10px;
}



















.stripe{
	position: absolute;
	height: calc(100% - 100px);
	width: 30%;
	
	min-width: 300px;
	
	top: 50px;
	left: 50%;

	@include myboxshadow;
	
	background-color: #8fb7c3;;
}


.pblock{
	display: block;
	position: relative;
	
	height: 150px;
	width: 80%;
	
	min-width: 500px;
	max-width: 900px;
	
	margin: 50px auto;
	
	cursor: pointer;
	
	transition: all 0.25s;
}

.pblock:hover{
	@include myboxshadow;
	background-color: rgba(245, 245, 245, 1);
}


.projectTextConainter{
	width: 50%;
	margin-left: 50px;
}

.projectText{
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	height: 100%;
}

.ptitle{
	display: inline-block;
	margin-top: 20px;
//	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	
	font-size: 24px;
}

.pdes{
	display: block;
	margin-top: 20px;
	
	font-size: 14px;
}

.projectImage{
	position: absolute;
	top: 0;
	left: 60%;
	width: 40%;
	height: 100%;
	
	background-position: center center;
	background-size: cover;
}
















#footer{
	position: relative;
	width: 100%;
	
	pointer-events: none;
	
	z-index: 1;
}


#footer-1{
	width: 100%;
	height: 100px;

//	background-color: rgba(50, 50, 50, 0.5);
}

#footer-2{
	width: 100%;
	height: 50px;

	pointer-events: auto;
	
	background-color: $purple;
}

#footer-3{
	width: 100%;
	height: 100px;

	pointer-events: auto;
	
	background-color: $darkerpurple;
}




a:link     {color: rgba(0,0,0,0.87);}
a:visited  {color: rgba(0,0,0,0.87);}
a:active   {color: rgba(0,0,0,0.87);}






/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 12px 0px;
    cursor: pointer;
	
	color: $darkerblue;
	
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: $lighterpurple;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}