body {
  background-color: #F5F8FA;
}

.bodyContainer {
  position: relative;
  
  width: 80%;
  top: 50px;
  
  margin-top: 200px;
  margin: 50px auto;

  background-color: #EEEEEE;
  border-radius: 5px;
}

#header {
  padding: 10px;
}

#portrait {
  float: left;
  margin-right: 10px;
}

#links {
  display: block;
  margin: 0 auto;
  padding: 30px 0;
}

#resume {
  
}

.date {
  float: right;
  margin-right: 20px;
}

ul {
  list-style-type: none;
}

.subcomponent {
  display: block;
  margin-top: 20px;
  margin-left: 40px;
}

.title {
  margin-top: 40px;
}

.subtitle {
  display: block;
  margin-top: 40px;
}

.title-span {
  margin-left: 20px;
  margin-right: 20px;
}

.column {
  flex: 1;
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px 10px;
  padding: 5px 5px;
  
  background-color: #B3DFE8;
  border-radius: 5px;
  
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
}
