
html{
  background-color: transparent !important;
}

body {
  background-image: url('../../src/images/pexels-photo-97517.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-size: cover;*/
  background-position: center 0px;
}

.bodyContainer {
  position: relative;
  
  width: 90%;
  
  margin: 200px auto 50px auto;
  padding: 60px 30px;
  
  background-color: rgba(238, 238, 238, 0.90);
  border-radius: 5px;
}

#header {
  margin: 50px auto;
}

#portrait {
  float: left;
  margin-right: 10px;
}

#links {
  display: block;

}

#resume {
  display: block;

  margin: 50px auto;
  width: 100%;
  background-color: rgba(238, 238, 238, 0);
}

#subBackground{
  width: 70%;
  margin: 50px auto 50px auto;
  padding: 1px 0;
  /*background-image: url('../../src/images/crissXcross.png');*/
  background-color: rgba(50, 50, 50, 0.5);
}

.date {
  float: right;
  margin-right: 20px;
}

ul {
  list-style-type: none;
}

.subcomponent {
  display: block;
  margin-top: 20px;
  margin-left: 40px;
}

.title {
  margin-top: 40px;
}

.subtitle {
  display: block;
  margin-top: 40px;
}

.title-span {
  margin-left: 20px;
  margin-right: 20px;
}

.column {
  flex: 1;
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px 10px;
  padding: 5px 5px;
  
  border-radius: 5px;
}
